<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Payfort_Pay>
            <version>1.2.2</version>
        </Payfort_Pay>
    </modules>
    <global>
        <blocks>
            <payfort>
                <class>Payfort_Pay_Block</class>
            </payfort>
            <checkout>
                <rewrite>
                    <cart_totals>Payfort_Pay_Block_Checkout_Cart_Totals</cart_totals><!-- this tells Magento to use your block instead the default one-->
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <payfort>
                <class>Payfort_Pay_Helper</class>
            </payfort>
        </helpers>
        <models>
            <payfort>
                <class>Payfort_Pay_Model</class>
            </payfort>
            <payfort_adminhtml>
                <class>Payfort_Pay_Adminhtml_Model</class>
            </payfort_adminhtml>
            <!--            <sales>
                <rewrite>
                    <service_quote>Payfort_Pay_Model_Service_Quote</service_quote>
                </rewrite>
            </sales>-->
        </models>
        <resources>
            <payfort_setup>
                <setup>
                    <module>Payfort_Pay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payfort_setup>
            <payfort_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payfort_write>
            <payfort_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payfort_read>
        </resources>
        <!--<events>
            <checkout_submit_all_after>
                <observers>
                    <payfort>
                        <type>singleton</type>
                        <class>Payfort_Pay_Model_Observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </payfort>
                </observers>
            </checkout_submit_all_after>
        </events>-->
        <events>
            <checkout_submit_all_after>
                <observers>
                    <payfort_pay_model_observer>
                        <class>Payfort_Pay_Model_Observer</class>
                        <method>saveOrderAfterSubmit</method>
                    </payfort_pay_model_observer>
                </observers>
            </checkout_submit_all_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <payfort_pay_model_observer>
                        <type>singleton</type>
                         <class>Payfort_Pay_Model_Observer</class>
                        <method>afterSaveOrder</method>
                    </payfort_pay_model_observer>
                </observers>
            </checkout_type_onepage_save_order_after>
            <payment_method_is_active>
                <observers>
                    <payfort_pay_model_observer>
                        <type>singleton</type>
                        <class>Payfort_Pay_Model_Observer</class>
                        <method>paymentMethodIsActive</method>
                    </payfort_pay_model_observer>
                </observers>
            </payment_method_is_active>
            
            <controller_action_postdispatch_opc_json_saveOrder>
                <observers>
                    <payfort_pay_model_observer>
                        <class>Payfort_Pay_Model_Observer</class>
                        <method>setResponseAfterSaveOrder</method>
                    </payfort_pay_model_observer>
                </observers>
            </controller_action_postdispatch_opc_json_saveOrder>
            
            <controller_action_postdispatch_checkout_onepage_saveOrder>
                <observers>
                    <payfort_pay_model_observer>
                        <class>Payfort_Pay_Model_Observer</class>
                        <method>setResponseAfterSaveOrder</method>
                    </payfort_pay_model_observer>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveOrder>
            
        </events>
    </global>
    <default>
        <payment>
            <payfort>
                <active>0</active>
                <gateway_currency>base</gateway_currency>
                <order_status>pending</order_status>
                <model>payfort/pay</model>
                <sha_type>SHA-512</sha_type>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </payfort>
            <payfortcc>
                <active>0</active>
                <model>payfort/payment_cc</model>
                <order_status>1</order_status>
                <allowspecific>0</allowspecific>
                <title>Credit / Debit Card</title>
                <integration_type>redirection</integration_type>
            </payfortcc>
            <payfortsadad>
                <active>0</active>
                <model>payfort/payment_sadad</model>
                <order_status>1</order_status>
                <allowspecific>0</allowspecific>
                <title>SADAD</title>
            </payfortsadad>
            <payfortnaps>
                <active>0</active>
                <model>payfort/payment_naps</model>
                <order_status>1</order_status>
                <allowspecific>0</allowspecific>
                <title>NAPS</title>
            </payfortnaps>
        </payment>
    </default>
    <frontend>
        <translate>
            <modules>
                <Payfort_Pay>
                    <files>
                        <default>Payfort_Pay.csv</default>
                    </files>
                </Payfort_Pay>
            </modules>
        </translate>
        <secure_url>
            <pay>/payfort</pay>
        </secure_url>
        <routers>
            <payfort>
                <use>standard</use>
                <args>
                    <module>Payfort_Pay</module>
                    <frontName>payfort</frontName>
                </args>
            </payfort>
        </routers>
        <layout>
            <updates>
                <payfort>
                    <file>payfort/pay.xml</file>
                </payfort>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Payfort_Pay>
                    <files>
                        <default>Payfort_Pay.csv</default>
                    </files>
                </Payfort_Pay>
            </modules>
        </translate>
    </adminhtml>
</config>
